# References:
# https://www.topbug.net/blog/2017/07/31/inputrc-for-humans/
# http://www.linuxfromscratch.org/blfs/view/5.1/postlfs/inputrc.html

# TODO:
# add an if statement to check if its on emacs mode
# $if ...

"\er":redraw-current-line
"\e^":history-expand-line
# Actually kind of annoying, disable for now
# "\C-p;":history-search-backward
# "\C-n;":history-search-forward
# "\C-x\C-p":print-last-kbd-macro

# # alt-left
# "\e[1;3D":
# # alt-right
# "\e[1;3C":
# alt-up
# "\e[1;3A":
# alt-down
# "\e[1;3B":
# ctrl-left
# "\e[1;5D":
# ctrl-right
# "\e[1;5C":

set colored-stats On
set completion-ignore-case On
set completion-prefix-display-length 5
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On
# set bell-style none
