[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sympy = "*"
matplotlib = "*"
ipympl = "*"
nb-black = "*"
opencv-python = "*"
callgraph = "*"
graphviz = "*"
ipython = "*"
pandas = "*"
gvmagic = "*"
pycairo = "*"
pyopengl = "*"
manimgl = "*"

[dev-packages]
jupyterlab = "*"
black = "*"
flake8 = "*"
pytest = "*"
mypy = "*"

[requires]
python_version = "3.10"
